apiVersion: v1
kind: Namespace
metadata:
  name: projectsveltos
---
apiVersion: v1
kind: Service
metadata:
  name: controller
  labels:
    control-plane: addon-controller
spec:
  selector:
    control-plane: addon-controller
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8443
    name: metrics
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller
  namespace: projectsveltos
  labels:
    control-plane: addon-controller
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      control-plane: addon-controller
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: controller
      labels:
        control-plane: addon-controller
    spec:
      securityContext:
        runAsNonRoot: true
      initContainers:
      - env:
        - name: IS_INITIALIZATION
          value: "true"
        image: controller:latest
        imagePullPolicy: IfNotPresent
        name: initialization
      containers:
      - command:
        - /manager
        args:
        - --v=5
        image: controller:latest
        imagePullPolicy: IfNotPresent
        name: controller
        ports:
        - containerPort: 8443
          name: metrics
          protocol: TCP
        - containerPort: 9440
          name: healthz
          protocol: TCP
        securityContext:
          seccompProfile:
            type: RuntimeDefault
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - "ALL"
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz
            port: healthz
            scheme: HTTP
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /readyz
            port: healthz
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
        volumeMounts:
        - mountPath: /tmp
          name: tmp
        resources:
          requests:
            memory: 256Mi
      serviceAccountName: controller
      terminationGracePeriodSeconds: 10
      volumes:
      - emptyDir: {}
        name: tmp
