apiVersion: config.projectsveltos.io/v1alpha1
kind: ClusterProfile
metadata:
  name: clusterprofile-sample
spec:
  clusterSelector:
    matchLabels:
      env: fv
  syncMode: Continuous
  helmCharts:
  - repositoryURL: https://kyverno.github.io/kyverno/
    repositoryName: kyverno
    chartName: kyverno/kyverno
    chartVersion: 3.3.3
    releaseName: kyverno-latest
    releaseNamespace: kyverno
    values: |
      admissionController:
        replicas: 3
    helmChartAction: Install
  - repositoryURL: https://helm.nginx.com/stable
    repositoryName: nginx-stable
    chartName: nginx-stable/nginx-ingress
    chartVersion: 1.4.1
    releaseName: nginx-latest
    releaseNamespace: nginx
    helmChartAction: Install
  - repositoryURL: https://charts.bitnami.com/bitnami
    repositoryName: bitnami
    chartName: bitnami/contour
    chartVersion: 19.3.1
    releaseName: contour
    releaseNamespace: projectcontour
    helmChartAction: Install
  policyRefs:
  - name: kyverno-disallow-gateway-update
    namespace: default
    kind: ConfigMap